@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');
*{
  padding: 0px;
  margin: 0px;
}
.logo{
  display: block;
  margin: auto;
  width: 66px;
  height: 60px;
  margin-top: 8px;
}
body {
  background-color: rgb(255, 255, 255);
}

h1 {
  margin-top: 12px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.container {
  background-color: rgb(235, 235, 235);
  width: 40rem;
  height: 30rem;
  overflow-y: auto;
  margin: auto;
}

.message {
  width: 15rem;
  margin: 17px 8px;
  padding: 10px;
  border-radius: 9px;
}

.left {
  float: left;
  clear: both;
  background-color: rgb(159, 255, 255);
}

.right {
  float: right;
  clear: both;
  background-color: rgb(152, 243, 140);
}

#send-container {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 5px;
}

#messageInp {
  width: 32rem;
  height: 22px;
  outline: none;
  border: 2px solid black;
  font-size: 15px;
  border-radius: 8px;
}
.btn {
  outline: none;
  height: 1.66rem;
  width: 4rem;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(194, 194, 226);
  border-radius: 5px;
}
.btn:hover{
  background-color: rgb(161, 161, 236);
}

@media(max-width:643px){

  h1{
    font-size: 15px;
  }
  .container {
    width: 20rem;
    height: 30rem;
  }
  .message {
    width: 10rem;
    margin: 10px 6px;
    padding: 7px;
    border-radius: 6px;
  }
  #messageInp{
    width: 15rem;
    font-size: 10px;
  }
  .btn{
    width: 2.5rem;
  }
}